/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/* */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------A normalization for the CSS above------ */

@media(max-width:880px) {


html {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;

}

body {
    background-color: rgb(85, 83, 83);
    color: white;
    position: relative;
    min-height: 100vh;
}


/* ------Here starts the nav------ */
nav {
    overflow: hidden;
	position: relative;
	top: 0;
    background-color: rgb(185, 91, 91);
    font-size: 1.5em;
    border-radius: 0.3em;
    margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

nav img {
	height: 100px;
	width: 100px;
	margin: auto;
	margin-bottom: 0.2em;
	border-radius: 10px;
}

nav a {
	text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
	padding: 0.2em;
}

.active {
    background-color: rgb(150, 75, 75);
    border-radius: 0.5em;
}
nav a:hover {
    background-color: rgb(126, 54, 54);
    border-radius: 20px;
}
/* ------Here ends the nav------ */


/* ------Here begins the main body----- */
main {
	margin: 2em;
	z-index: 1;
    text-align: justify;
}


.forms {
    margin: 1em;
    margin-bottom: 2em;
}

/* ------Top part of the main----- */
.top {
    background-color: rgb(192, 127, 127);
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap-reverse;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 10px;
}

.top aside {
	margin-bottom: em;
	padding: 5px 10px;
	border-bottom: 3px solid rgb(85, 83, 83);
}

.top section {
	margin-top: 0.5em;
	padding: 5px 15px;
	border-top: 2px solid rgb(85, 83, 83);
}
/* -----Here ends top part of Main----- */


/* -----Here starts bottom part of Main*/

.mainBot {
    max-width: 1000px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
	flex-direction: column;
    /* align-items: flex-start; */
}

.mainBot section {
	background-color: rgb(43, 40, 40);
	margin-bottom: 1em;
	padding: 1em;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.botItems p{
    padding: 5px;
    margin: 5px;
}

.botItems a {
    background-color: rgb(146, 126, 167);
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    width: 40%;
    float: left;
}

/* ------Here ends the main body------ */


/* ------Here begins the footer of the page------ */
footer {
    background-color: rgb(185, 91, 91);
    position: absolute;
    bottom: inherit;
    max-width: 1100px;
    width: 95%;
    margin: auto;
}

footer h4 {
    padding: 5px;
    display: block;
}

footer li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

footer a:hover {
    color: thistle;
}

}
/* -----End Of Mobile Version----- */


/* -----Desktop Version----- */

@media (min-width: 881px) {

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 83, 83);
    color: white;
    min-height: 100vh;
}

.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
	/* align-items: center; <-- Messes with the footer size */
}

/* ------Here starts the nav------ */
nav {
    overflow: hidden;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(185, 91, 91);
    padding-right: 10px;
    margin-bottom: 5em;
    border-radius: 0.3em;
    width: 100%;
    max-width: 1200px;
    position: static;
    margin: auto;
    
}

nav ul {
    flex: 1;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 1.1em;

}

nav a:hover {
    background-color: rgb(126, 54, 54);
    border-radius: 20px;
}

.active {
    background-color: rgb(150, 75, 75);
    border-radius: 0.5em;
}
/* ------Here ends the nav------ */


/* ------Here begins the main body----- */
main {
    
}

main section{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
}


/* ------Top part of the main----- */
.top {
    background-color: rgb(192, 127, 127);
    display: flex;
    margin-top: 10em;
    margin-bottom: 5em;
    border-radius: 10px;
}

.top aside {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 30%;
    padding-bottom: 3em;
    padding-right: 1em;
    font-weight: 700;
	border-right: 8px solid rgb(85, 83, 83);

}

.top section {
    display: flex;
    text-align: justify;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 1em;
    margin-left: 5px;
    font-weight: 400;
	border-left: 5px solid rgb(85, 83, 83);
}

section p, aside p {
    padding: 1em ;
    margin: 1em;
}
/* -----Here ends top part of Main----- */


/* -----Here starts bottom part of Main*/
.mainBot {
    max-width: 900px;
    margin-top: 2em;
    margin: auto;
    padding: 2em;
    display: grid;
    text-align: center;
    align-items: center;
}

.botItems {
	background-color: rgb(56, 53, 53);
    margin: 2em;
    padding: 2em;
    border-radius: 10px;
    margin: 1em 1em 5em 1em;
    
}

.botItems p{
    font-size: 2rem;
    padding: 1em;
    margin: 5px;
}

.botItems a {
    background-color: rgb(146, 126, 167);
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
    width: 40%;
    float: left;
}

/* ----- Glow Shadow Effect ----- */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.botItems a {
    background-color: rgb(146, 126, 167);
    margin-left: 0.8em;
    padding: 13px;
    border-radius: 10px;
}

  /* ----- Glow Effect -----*/
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

            /* ----- FORMS ----- */
.forms {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10em;
}

.formRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



        
            /* ----- FORMS ----- */


/* ------Here ends the main body------ */


/* ------Here begins the footer of the page------ */

footer {
    background-color: rgb(185, 91, 91);
    position: relative;
    bottom: 1;
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

footer h4 {
    padding: 5px;
    display: block;
}

footer li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

footer a:hover {
    color: thistle;

}
}