/* --This a CSS Page only for the forms-- */




                /* ----- Mobile ----- */
@media (max-width:880) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

}


/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
} */

form {
    border: 5px solid rgb(80, 46, 46);
    border-radius: 10px;
    margin: auto;
    margin-top: 5em;
    display: flex;
    display: none;
    flex-direction: column;
    background-color: rgb(66, 64, 64);
}



@media(min-width:881px){
    form {
        border: 5px solid rgb(80, 46, 46);
        border-radius: 10px;
        margin: 10em 5em 10em 5em;
        display: flex;
        flex-direction: column;
        background-color: rgb(66, 64, 64);
        display: none;
}
}

.message {
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
    display: none;
}

h3 {
    padding-left: 0.5em;
    padding: 1em;
    margin: 1em;
    font-size: 1.3em;
    text-align: center;
    border-bottom: 1px solid grey;
}

h2{
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.3em;
    text-align: center;
    border-bottom: 1px solid grey;
}

label {
    padding: 1em;
    font-size: 1.3em;
}

select, input, textarea{
    margin: 1em;
    padding: 0.3em;
}

input[type="button"] {
    margin: 0.65em;
    padding: 0.1em;
}

/* ----- Glow Shadow Effect ----- */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
  }


  /* ----- Glow Effect -----*/
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

