/* --This a CSS Page only for the forms-- */




                /* ----- Mobile ----- */
@media (max-width:880) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}


/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
} */

form {
    border: 5px solid rgb(80, 46, 46);
    border-radius: 10px;
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 64, 64);
}

@media(min-width:881px){
    form {
        border: 5px solid rgb(80, 46, 46);
        border-radius: 10px;
        margin: 10em 5em 10em 5em;
        display: flex;
        flex-direction: column;
        background-color: rgb(66, 64, 64);
    }
}


h3 {
    padding-left: 0.5em;
    padding: 1em;
    margin: 1em;
    font-size: 1.3em;
    text-align: center;
    border-bottom: 1px solid grey;
}

label {
    display: block;
    padding: 1em;
    font-size: 1.3em;
}

select, input, textarea {
    margin: 1em;
}

input {
    size:20;

}

